/**LOGIN SECTION**/

.login-divide{
   width: 100%;
 }
 .login-divide-text{
   font-size: 3rem;
   text-decoration: underline;
 }
 .login-form{
   border-radius: 10px;
   border: 5px solid #98999b;
   margin: 2vh 19vw 8vw;
   padding: 1% 3%;
 }
 

 .profile-settings-top{
   padding-top: 4vh;
   height: calc(4vh + 6vh + 2vw);
   width: 100%;
 }
 .profile-settings-top-title{
   font-size: calc(3vh + 3vw);
 }
 .profile-settings-form{
   padding: 1% 3%;
   background-color: #009e99;
   color: white;
 }